__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
*.egg
*.egg-info/
pip-wheel-metadata/

.venv/
venv/
env/

.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

.ruff_cache/
.mypy_cache/
.pyre/
.pytype/
.hypothesis/

.tox/
.nox/

.vscode/
.idea/
.DS_Store
Thumbs.db
